body {
  padding-top: 20px;
  padding-bottom: 50px;
}
.content {
  max-width: 95.5vh;
  margin: auto;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 30px;
  margin-bottom: 20px;
}

.content-header {
  width: 100%;
  justify-content: space-around;
}

.content-header-detail {
  display: inline-block;
}

.content-bottom {
  max-width: 95.5vh;
  margin: auto;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 30px;
  margin-bottom: 20px;
  flex-direction: column;
}

#inputPage {
  width: 60%;
}

.button-run {
  margin-top: 10px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(76, 175, 80);
  color: rgb(76, 175, 80);
  background-color: #fff;
  border-radius: 30px;
  font-weight: bold;
}

.button-run:hover {
  background-color: rgb(76, 175, 80);
  color: white;
}

label {
  margin-bottom: 10px;
}
