.content {
  max-width: 95.5vh;
  margin: auto;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px,
    rgb(0 0 0 / 19%) 0px 6px 20px 0px;
  padding: 30px;
}

.content-header {
  width: 100%;
  justify-content: space-around;
}

.content-header-detail {
  display: inline-block;
}
